@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    
    <img src="https://www.discoverychurch.org/wp-content/uploads/2020/02/Black_Logo.png" style="height: 60px; width: 200px;" >
    <h1>Ministry Funnel</h1>
    <p class="lead">Discovery Church's program to manage and track ministries in the church.</p>
</div>

<div class="row">
    <div class="col-sm-6">
        <div class="card border-success">
            <div class="card-body">
                <h5 class="card-title">Connection Weekend</h5>
                <h6 class="card-subtitle mb-2 text-muted">To help people connect to our classes and groups.</h6>
                <div>
                    <strong>Ministry Owner: </strong>Discipleship Paster
                </div>
                <div>
                    <strong>Campus: </strong>Sand Lake
                </div>
                <div>
                    <strong>Desired Outcome: </strong>That our people join in the discipleship process through the groups and classes we offer.
                </div>
                <div>
                    <strong>Practice: </strong>Belong
                </div>
                <div>
                    <strong>Funnel: </strong>Group
                </div>
                <div>
                    <strong>Level of Importance: </strong>Critical
                </div>
                <div>
                    <strong>Start Date: </strong>5/31/2021
                </div>
                <a href="#" class="btn btn-primary">Details</a>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card border-danger">
            <div class="card-body">
                <h5 class="card-title">Connection Weekend</h5>
                <h6 class="card-subtitle mb-2 text-muted">To help people connect to our classes and groups.</h6>
                <div>
                    <strong>Ministry Owner: </strong>Discipleship Paster
                </div>
                <div>
                    <strong>Campus: </strong>Sand Lake
                </div>
                <div>
                    <strong>Desired Outcome: </strong>That our people join in the discipleship process through the groups and classes we offer.
                </div>
                <div>
                    <strong>Practice: </strong>Belong
                </div>
                <div>
                    <strong>Funnel: </strong>Group
                </div>
                <div>
                    <strong>Level of Importance: </strong>Critical
                </div>
                <div>
                    <strong>Start Date: </strong>5/31/2021
                </div>
                <a href="#" class="btn btn-primary">Details</a>
            </div>
        </div>
    </div>
</div>
<div class="row" style="padding-top: 15px;">
    <div class="col-sm-6">
        <div class="card border-success">
            <div class="card-body">
                <h5 class="card-title">Connection Weekend</h5>
                <h6 class="card-subtitle mb-2 text-muted">To help people connect to our classes and groups.</h6>
                <div>
                    <strong>Ministry Owner: </strong>Discipleship Paster
                </div>
                <div>
                    <strong>Campus: </strong>Sand Lake
                </div>
                <div>
                    <strong>Desired Outcome: </strong>That our people join in the discipleship process through the groups and classes we offer.
                </div>
                <div>
                    <strong>Practice: </strong>Belong
                </div>
                <div>
                    <strong>Funnel: </strong>Group
                </div>
                <div>
                    <strong>Level of Importance: </strong>Critical
                </div>
                <div>
                    <strong>Start Date: </strong>5/31/2021
                </div>
                <a href="#" class="btn btn-primary">Details</a>
                <a href="#" class="btn btn-success">Approve</a>
                <a href="#" class="btn btn-danger">Deny</a>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card border-danger">
            <div class="card-body">
                <h5 class="card-title">Connection Weekend</h5>
                <h6 class="card-subtitle mb-2 text-muted">To help people connect to our classes and groups.</h6>
                <div>
                    <strong>Ministry Owner: </strong>Discipleship Paster
                </div>
                <div>
                    <strong>Campus: </strong>Sand Lake
                </div>
                <div>
                    <strong>Desired Outcome: </strong>That our people join in the discipleship process through the groups and classes we offer.
                </div>
                <div>
                    <strong>Practice: </strong>Belong
                </div>
                <div>
                    <strong>Funnel: </strong>Group
                </div>
                <div>
                    <strong>Level of Importance: </strong>Critical
                </div>
                <div>
                    <strong>Start Date: </strong>5/31/2021
                </div>
                <a href="#" class="btn btn-primary">Details</a>
                <a href="#" class="btn btn-success">Approve</a>
                <a href="#" class="btn btn-danger">Deny</a>
            </div>
        </div>
    </div>
</div>



@*<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>*@